#cesiumContainer {
  visibility: visible;
  position: static;
}
body {
  overflow: hidden;
}
/* Container for all cards */
#cards {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 20;
}

/* Base styles for all cards */
.card {
  position: absolute;
  opacity: 0;
  transition: all 0.7s ease-out;
}

/* Specific card positions */
.left-card {
  left: 2.5rem; /* left-10 */
  top: 50%; /* top-1/2 */
  transform: translateY(-50%); /* -translate-y-1/2 */
}

.right-card {
  right: 2.5rem; /* right-10 */
  top: 50%; /* top-1/2 */
  transform: translateY(-50%); /* -translate-y-1/2 */
}

.bottom-card {
  bottom: 2.5rem; /* bottom-10 */
  left: 50%; /* left-1/2 */
  transform: translateX(-50%); /* -translate-x-1/2 */
}

.top-left-card {
  top: 2.5rem; /* top-10 */
  left: 2.5rem; /* left-10 */
}

.top-right-card {
  top: 2.5rem; /* top-10 */
  right: 2.5rem; /* right-10 */
}

.bottom-left-card {
  bottom: 2.5rem; /* bottom-10 */
  left: 2.5rem; /* left-10 */
}

.bottom-right-card {
  bottom: 2.5rem; /* bottom-10 */
  right: 2.5rem; /* right-10 */
}

.top-center-card {
  top: 2.5rem; /* top-10 */
  left: 50%; /* left-1/2 */
  transform: translateX(-50%); /* -translate-x-1/2 */
}

.mid-top-left {
  top: 25%; /* top-1/4 */
  left: 25%; /* left-1/4 */
}

.mid-top-right {
  top: 25%; /* top-1/4 */
  right: 25%; /* right-1/4 */
}

.mid-bottom-left {
  bottom: 25%; /* bottom-1/4 */
  left: 25%; /* left-1/4 */
}

.mid-bottom-right {
  bottom: 25%; /* bottom-1/4 */
  right: 25%; /* right-1/4 */
}

/* Styles for the inner content div aka the card colour etc */
.card > div {
  background-color: white; 
  border-radius: 1.5rem; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  padding: 1rem;
  width: 16rem; 
  text-align: center; 
}
.card:hover > div {
  transform: scale(1.05);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04); 
}

/* Styles for the h3 element */
.card > div > h3 {
  font-weight: 700; 
  font-size: 1.125rem; 
  line-height: 1.75rem; 
}

/* Styles for the p element */
.card > div > p {
  font-size: 0.875rem; 
  line-height: 1.25rem;
  color: #4b5563;
}

/* Mobile layout for screens 1024px and below */
@media (max-width: 1024px) {
  /* Stacking the cards in a scrollable column */
  #cards {
    position: absolute;
    inset: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    pointer-events: auto;
  }

  body{
    overflow-y: auto;
  }

  .card {
    position: static; 
    margin-bottom: 1rem;
    transform: none !important; 
    opacity: 1;
  }

  /* Override width for inner card content */
  .card > div {
    width: 100%;
    max-width: none;
  }
  
  /* Hide the Cesium container*/
  #cesiumContainer {
    visibility: hidden;  
    position: absolute;
  }
}
